[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
apscheduler = "*"
redis = "*"
pycoingecko = "*"
fastapi = {extras = ["all"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
python-binance = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
